<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="hangouts_style.css">
  <link rel="stylesheet" href="card-info.css">
  <title>Document</title>
</head>
<body>
  <div class="top-header">
    <div class="card-info-bar">
      <!-- <div class="back fas fa-angle-double-left"></div> -->
      <div class="info-bar-text"><i class="back fas fa-angle-double-left"></i> Card Info</div>
    </div>
  </div>
        <div class = "card-info-container">
            <img src="./assets/card1.jpg" alt="card" class="card-icon">
          <div class="card-text-container">
            <span class="card-title-text-info">Cage, the Treasure Hunter</span>
            <div class="card-text-info">WorldWake Magic</div>
            <div class="card-price-info">Market Price: $128.38</div>
          </div>
        </div>
</body>
</html>
