<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../../server/public/styles.css">
      <title>Event Map Test</title>
  </head>
  <body>
    <div class="top-header">
      <div class="search-bar">
        <div class="icon"></div>
        <div class="search-text">Enter Zip</div>
      </div>
    </div>
    <!-- NOTE: Padding on body selector results in grey space on left and top sides -->
    <div class="dummy-google-map-image">
    </div>
  </body>
</html>
