<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../server/public/styles.css">
  <title>Hangout Details Test</title>
</head>
<body>
  <div class="header-icons">
    <div class="back-button"><i class="fa fa-angle-double-left"></i></div>
    <div class="interested-button"><i class="fa fa-poo-storm"></i></div>
  </div>
  <div class="hangout-details">
    <header class="title">Title of Hangout</header>
    <div class="hangout-small-text">
      <div class="date">Friday Jan 28 7:00PM</div>
      <div class="hangout-type">Modern</div>
    </div>
    <p class="hangout-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat, ante in aliquet viverra, augue risus hendrerit
    eros, non sagittis libero risus in eros. Donec mollis nec nulla ut scelerisque. Sed nec nibh nec tortor egestas laoreet
    nec quis nisi. Quisque eget consectetur quam, sit amet tempor nisl. Curabitur semper tortor sed magna sollicitudin
    dapibus. In non molestie est. Maecenas eget viverra odio. Donec scelerisque arcu dolor, quis blandit ipsum interdum non.
    </p>
  </div>
  <div class="contact-details">
    <header class="title">Contact Info</header>
    <div class="email">Email: <span class="normal">coding@codymiller.com</span></div>
    <div class="phone-number">Phone Number: <span class="normal">(555)555-5555</span></div>
  </div>
</body>
</html>
