<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="events-details.css">
  <title>event Details Test</title>
</head>
<body>
  <div class="header-icons">
    <div class="back-button"><i class="fa fa-angle-double-left"></i></div>
    <div class="interested-button"><i class="fa fa-poo-storm"></i></div>
  </div>
  <div class="event-details">
    <header class="title">Title of event</header>
    <div class="event-small-text">
      <div class="date">Friday Jan 28 7:00PM</div>
      <div class="event-type">Modern</div>
    </div>
    <p class="event-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat, ante in aliquet viverra, augue risus hendrerit
    eros, non sagittis libero risus in eros. Donec mollis nec nulla ut scelerisque. Sed nec nibh nec tortor egestas laoreet
    nec quis nisi. Quisque eget consectetur quam, sit amet tempor nisl. Curabitur semper tortor sed magna sollicitudin
    dapibus. In non molestie est. Maecenas eget viverra odio. Donec scelerisque arcu dolor, quis blandit ipsum interdum non.
    </p>
  </div>
  <div class="store-details">
    <header class="title">Store Info</header>
    <div class="store-info">
      <div class="store-name">Monsters and Magic</div>
      <div class="store-address1">23854 Vía Fabricante Unit B1</div>
      <div class="store-address2">Mission Viejo, CA 92691</div>
      <div class="store-phone">(949) 829-9809</div>
      <div class="store-website">http://www.magicandmonsters.com/</div>
    </div>
  </div>
</body>
</html>
