<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="hangouts_style.css">
  <title>Hangouts Test</title>
</head>
<body>
  <div class="top-header">
    <div class="search-bar">
      <div class="icon"></div>
      <div class="search-text">Enter Zip</div>
      <div class="add"><i class="fa fa-plus"></i></div>
    </div>
  </div>
  <div class="hangout-container">
    <div class="hangout">
      <img src="/server/public/images/mtg.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">I Love Jace</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/yugioh.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Saturday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/mtg.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Coding Cody Miller</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/yugioh.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/mtg.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/yugioh.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Saturday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/mtg.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/yugioh.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/mtg.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/yugioh.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Saturday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/mtg.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
    <div class="hangout">
      <img src="/server/public/images/yugioh.png" alt="mtg" class="hangout-icon">
      <span class="small-text time">Friday 2:00PM</span>
      <div class="name-of-hangout">Title of Hangout</div>
      <span class="small-text format-type">Modern</span>
    </div>
  </div>
</body>
</html>
