
body {
  color: white;
  background-color: #232423;
  /* height: 812px;
  width: 375px; */
  margin: 0;
  /* padding: 30px; */
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.top-header {
  height: 8%;
}

.search-bar {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 85vw;
  border-radius: 50px 10px 10px 50px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right: 10px;
  margin: auto 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.add {
  font-size: 1.5rem;
}

.search {
  font-size: 1.5rem;
}

.icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
}

.search-text {
  font-size: 2rem;
  color: rgb(128, 128, 128);
  margin-right: 30px;
}

.hangout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  margin-top: 20px;
}

.hangout {
  position: relative;
  height: 20vh;
  width: 40vw;
  background-color: #2b2b2b;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.hangout-icon {
  height: 50px;
  width: 50px;
}

.small-text {
  position: absolute;
  right: 10px;
  display: flex;
  font-size: 0.5rem;
  color: rgb(128, 128, 128);
}

.time {
  align-self: flex-start;
}

.format-type {
  align-self: flex-end;
}

.name-of-hangout {
  font-size: 1.25rem;
}
