* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: white;
  background-color: #232423;
  height: 812px;
  width: 375px;
  margin: 0;
  padding: 30px;
}

.header-icons {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
}

.interested-button {
  color: #6E00FB;
}

.hangout-details,
.contact-details {
  margin-top: 10px;
    text-align: center;
}

.title {
  font-size: 2.5rem;
}

.hangout-small-text {
  margin: 10px;
  font-size: 0.75rem;
  color: rgb(128, 128, 128);
  display: flex;
  justify-content: space-between;
}

.hangout-paragraph {
  text-align: center;
}

.email,
.phone-number {
  margin: 20px 0;
  font-weight: bolder;
  color: #6E00FB;
}

.normal {
  color: white;
  font-weight: normal;
}
