* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: white;
  background-color: #232423;
  height: 812px;
  width: 375px;
  margin: 0;
  padding: 30px;
}

.top-header {
  height: 8%;
}

.icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
}

.profile-top{
  font-size: 1.5rem;
  padding-bottom: 2em;
}

.profile-icon {
  color: #6E00FB;
  font-size: 5em;
  text-align: center;
}

.profile-name {
  color: #57CAFB;
  font-size: 1.5rem;
  padding-bottom: .5em;
}

.profile-deck{
  color: #57CAFB;
  font-size: 1rem;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-flow: wrap;
  margin-top: 20px;
}

.chevron-container{
  float: left;
}

.hangout {
  position: relative;
  height: 20vh;
  width: 40vw;
  background-color: #2b2b2b;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.hangout-icon {
  height: 50px;
  width: 50px;
}

.small-text {
  position: absolute;
  right: 10px;
  display: flex;
  font-size: 0.5rem;
  color: rgb(128, 128, 128);
}

.time {
  align-self: flex-start;
}

.format-type {
  align-self: flex-end;
}

.name-of-hangout {
  font-size: 1.25rem;
}

.event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  margin-top: 20px;
  width: 100%;
}

.event {
  position: relative;
  height: 10vh;
  width: 100%;
  background-color: #2b2b2b;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  margin: 8px 0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.event-time {
  width: 33%;
}

.date {
  font-size: 1.25rem;
}

.day-of-week,
.time,
.store-name {
  font-size: 1rem;
  color: rgb(128, 128, 128);
}

.other-info {
  width: 66%;
}

.name-of-event {
  font-size: 1.25rem;
  height: 75%;
}

.store-name {
  align-self: flex-end;
}

.button-container{
  padding-top: 1.5em;
  text-align: center;
}

.profile-setting-label {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1em;
}

.btn {
  margin-top: 1rem;
  height: 3.5rem;
  width: 100%;
  border: 1px solid black;
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
}
