<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="../../server/public/images/favicon.png">
  <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="profile_settings_style.css">
  <title>Profile</title>
</head>

<body>
  <div class="profile-top">
    <div class="chevron-container">
      <i class="fas fa-chevron-left"></i>
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="profile-icon">
      <i class="far fa-user-circle"></i>
    </div>
  </div>
  <div class="button-container">
    <div class="profile-setting-label">Settings</div>
    <button type="button" class="btn">
      <i class="fas fa-book-open"></i>
      Change Info
    </button>
    <button type="button" class="btn">
      <i class="fas fa-key">Change Password</i>
    </button>
    <button type="button" class="btn">
      <i class="fas fa-sign-out-alt"></i>
      Sign Out
    </button>

  </div>


</body>

</html>
