<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/62f4ec6c59.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../server/public/styles.css">
  <title>Sidebar Test</title>
</head>
<body>
  <div class="sidebar-header">
    <i class="sidebar-user-icon far fa-user-circle" style="color:#c18eda"></i>
    <div class="sidebar-user-info">
      <h2>User Name</h2>
      <h4>User Game || User Deck</h4>
    </div>
  </div>
  <div class="sidebar-app-sections">
    <div><i class="fas fa-calendar-alt" style="color:#FE955B"></i>Events</div>
    <div><i class="fas fa-bullhorn" style="color:#FECE8C"></i>Hangouts</div>
    <div><i class="fas fa-laptop" style="color:#6D366F"></i>Card Search</div>
    <div><i class="fas fa-home" style="color:#4F2E65"></i>Home</div>
  </div>
</body>
</html>
